/* globel */
body {
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}


h1 {
    color: #17a2b8;
}


.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.navbar-dark .navbar-brand {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

a{
    text-decoration: none;
}

/* home */
#home {
    height: 75vh;
}

#home ul li a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

/* login  && signup */

input,
textarea {
    background-color: transparent !important;
    color: #fff !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(182, 182, 182) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}

/* media */

@media screen and (max-width: 992px) {
    #home ul li a {
        width: 100%;
        margin-top: 10px;
    }
    
}